$color-main = green;

body {
  color: $color-main;
  text-align: center;
  border-radius: 1px;
}

nav {
  a.active {
    background-color: blue;
    color: #fff;
  }
  margin-bottom: 100px;
}

footer {
  position: fixed;
  background-color: #ccc;
  height 30px;
  bottom:0;
  left 0;
  right: 0;
}

h1 {
  font-size: 50px;
}